# copied and adapted from https://raw.githubusercontent.com/RuolinZheng08/renpy-awesome-template/master/.gitignore

# macOS-related files
.DS_Store
.AppleDouble
.LSOverride

# Windows-related files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# Python related files.
*.pyc
*.pyo
*.pyi


# Editor files.
*~
*.bak
tmp
cache
env
.idea


# Compiled Ren'Py files.
*.rpyc
*.rpyb
*.rpymc

# Ren'Py log files.
log.txt
errors.txt
traceback.txt
lint.txt
styles.txt

# Ren'Py itself (and other release files)
/android
/build
/dists?
/renpy[23]?.(app|exe|sh)
/renpy-32.exe
/jedit
/lint.txt
/renpy.code
/*testing*
/screenshot*
/lib
/lib.old
/doc
/pydevproject(.bak)?
/.c?project
/.settings
/LICENSE.txt
/templates/english/README.html
/the_question/english/README.html
/tutorial/english/README.html
/renpy/angel/*.(pyx|pxd)
/renpy-ppc.zip
/module/build
/module/gen*
/editra
/atom
/launcher/game/theme
/launcher/game/script_version.rpy

/dl
renpy/vc_version.py
.externalToolBuilders
/rapt/evil
/iaptest
/pygame_sdl2
/renios
/steam_appid.txt
/.coverage
/id
/ai
/interface_7
/htmlcov
/the_question*/.android.json
/WINDOWS.rst
/old
/*-all/
/*-win/
/*-mac/

/*-linux*/
/*-dists/
doc-web

sphinx/source/inc
sphinx/source/thequestion.rst
tutorial/game/tutorial_director.rpy
launcher/theme
module/emscripten-static/
web/

cubism
glexperiment
live2d
rapt2
rapt3
renios2
renios3
notarized

CubismSdkForNative-4-*.zip


# And finally, our own files. Jeez.

LazulightVN/game/cache
LazulightVN/game/saves